svg	{
	height: 200px;
	width: 200px;
}

#bar {
	stroke-dashoffset: 0;
	transition: stroke-dashoffset 1s linear;
	stroke-width: 1em;
	/*stroke: #FF9F1E;*/
}

#background {
	z-index: 2;
	position: absolute;
	stroke-dashoffset: 0;
	transition: stroke-dashoffset 1s linear;
	stroke: #666;
	stroke-width: .2em;
}
