<div id="footerWrapper">
    <div id="logoAndLinks">
      
      <div id="logoWrapper">
        <img class="logo" src="./assets/CritAssess_logo.png">
        <span class ="logotext">CritAssess</span>
      </div>

      <div class="flexcontainer">
        <span class="flexitem">Product</span>
        <span class="flexitem">|</span>
        <span class="flexitem">Features</span>
        <span class="flexitem">|</span>
        <span class="flexitem">Contact Us</span>
        <span class="flexitem">|</span>
        <span class="flexitem">Follow Us</span>
      </div>
    </div>

    <div class="teamlogo">
        Team Xcelerate in Pittsburgh
    </div>
</div>
    


