#footerWrapper {
	display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
	position: relative;
	width: 100%;
	height: 78px;
    background-color: #6840CC;
}
    #logoAndLinks {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        margin-left: 4.5%;
    }

        #logoWrapper {
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }

            .logotext{
                position: relative;
                margin-left: 20px;
            	font-style: normal;
            	font-weight: bold;
            	font-size: 20px;
            	line-height: 23px;
                letter-spacing: 0.05em;
            	color: #FFF;
            }
            .logo{
                position: relative;
                width: 21px;
                height: 16px;
                /*margin-left: 4.5%;*/
            }

    .flexcontainer{
        /*margin-left:21%;*/
        display:flex;
        position: relative;
        flex-direction: row;
        justify-content: space-around;
        padding-left: 50px;
        /*margin-left: 10%;*/
        /*min-height: 0;*/
        /*flex-wrap: wrap;*/
        /*margin-left: 5%;*/
        /*width:20%;*/
    }
    .flexitem{
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        letter-spacing: 0.015em;
        color: #FFFFFF;
        min-height: 0;
        margin-left: 15px;
    }



.teamlogo{
    position: relative;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    letter-spacing: 0.015em;
    color: #C4C4C4;
    margin-right: 5%;
    /*vertical-align: middle;*/
/*    right: 20px;
    top: 36px;*/
}

@media only screen and (max-width: 800px) {
    .flexcontainer {
        display: none !important;
    }
}