<div id="assessmentNavbarWrapper">
	<div id="pauseTestWrapper" class="navbarGroup">
		<img src="./assets/log_out.png">
		<span>Pause Test</span>
	</div>

	<div id="timerWrapper" class="navbarGroup" (click)="toggleTimer()">
		<img src="./assets/clock.png">
		<span [ngStyle]="{'display': showTimer ? 'block' : 'none'}">{{assessmentMinutes}}:{{assessmentSeconds}}</span>
	</div>

	<div id="progressBarWrapper" class="navbarGroup">
		<div id="progressBarBackground">
			<div id="progressBarFilling" [ngStyle]="{'width': assessment.questionsAnswered/assessment.questionCount * 100 + '%'}"></div>
		</div>
		<span>Progress</span>
	</div>
</div> <!-- End navbar wrapper -->
