<div id="scenario1Wrapper">
	<h1>Scenario 1 of 8</h1>
	<p id="p1">
		You are the product manager of our new product Pitch Perfect, here is a list of features that the market department decides that they want to include, and a list of time estimation that the senior engineer team proposes. Although those features are all good, we have only around 8 weeks to build some of them. We would like you to provide your recommendation for what features we should include. 
	</p>
	<p>
		We are not requiring any prior knowledge from you as a product manager to judge which features are more important. All the information presented.
	</p>
</div>
