#scenarioWrapper {
	max-height: 650px;
	overflow: auto;
	width: 91%;
    padding-right: 9.8%;
}

h1	{
	margin-top: 52px;
	height: 47px;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 23px;
	letter-spacing: 0.015em;
}
p {
	font-family: Roboto;
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 150%;
	/* or 24px */
	letter-spacing: 0.05em;
}

#p1 {
	margin-bottom: 25px;
}

/*Table Styles*/
table {
	margin-top: 60px;
	table-layout: auto;
}
th {
	color: #858585;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.05em;
}

th, td {
	border-bottom: 1px solid #E5E5E5;
	text-align: left;
	position: relative;
}

td {
	min-height: 62px;
	vertical-align: middle;
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 27px;
	letter-spacing: 0.05em;
	padding-top: 12px;
	padding-bottom: 12px;
}

.col1 {
	width: 58.4%;
}

.col2 {
	width: 20.8%;
}
.col2, .col3 {
	text-align: right;
}

@media only screen and (max-width: 800px) {
	#scenarioWrapper {
		max-height: none;
	}
}