<div id="navbarWrapper">
	<div id="logoWrapper">
		<img class="logo" src="./assets/CritAssess_logo.png">
		<span>CritAssess</span>
	</div>
	<div id="linksAndProf">
		<span id="links">
			<a routerLink="/home" routerLinkActive="active">Home</a>
			<span class="v-line"></span>
			<a routerLink="/research" routerLinkActive="active">Research</a>
			<span class="v-line"></span>
			<a routerLink="/development" routerLinkActive="active">Development</a>
			<span class="v-line"></span>
			<a routerLink="/about" routerLinkActive="active">About Us</a>
		</span>
		<img class='account' src="./assets/account.png">
	</div>
</div>