#navbarWrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	width: 100%;
	height: 52px;
	background-color: #6840CC;
}

	#logoWrapper {
		margin-left: 4.5%;
	}
		#logoWrapper span {
			position: relative;
			width: 397px;
			height: 22px;
			margin-left: 20px;
			font-style: normal;
			font-weight: bold;
			font-size: 20px;
			line-height: 23px;
			letter-spacing: 0.05em;
			color: #FFF;
		}

		.logo{
			position: relative;
			width: 21px;
			height: 16px;
		}

	.account{
		position: relative;
		width: 21px;
		height: 21px;
		margin-left: 40px;
	}

#linksAndProf {
	display: flex;
	position: relative;
	justify-content: flex-end;
	margin-right: 4.8%;
	align-items: center;
}
	a {
		text-decoration: none !important;
		font-weight: normal;
		font-size: 14px;
		line-height: 16px;
		letter-spacing: 0.015em;
		color: #FAFAFA;
		padding-bottom: 6px;
	}
		.v-line {
			height: 90%;
			width: 1px;
			margin-right: 40px;
			margin-left: 40px;			
			border-left: 1px solid #C4C4C4;
		}

	.active {
		border-bottom: 3px solid #FFFFFF;
	}