<div id="scenarioWrapper">
	<h1>Scenario 3 of 7</h1>
	<p>
		Your company is building a learning management system that’s specially tailored to K12 project-based learning. After extensive user research, your UX department provided you with a list of features that teachers and students want to include in the product.
	</p>
	<ul>
		<li>Upload Project Proposal</li>
		<li>Define Learning Goals</li>
		<li>Set Weekly Goals</li>
		<li>Upload Daily Progress</li>
		<li>Add Collaborators</li>
		<li>Make Audio Comments</li>
		<li>View Achievement Visualization</li>
		<li>Upload Self-reflection</li>
		<li>Receive a Detailed Achievement Report</li>
	</ul>

	<p>
		Here are some quotes from students and teachers about what they expect to have in the product that your UX team reported to you:	
	</p>

	<p>
		Quote 1 (Student) : “I think the adding weekly goals is a really useful function as it helps me know what I am supposed to achieve by the end of the week.”
	</p>

	<p>
		Quote 2 (Teacher) :“I think the adding weekly goals is pretty important because you could easily check students’ progress. Making audio comments might be a great feature as well as it could save me some time in grading students’ work.”
	</p>

	<p>
		Quote 3 (e-learning director) : Our research team has found that if students upload self-reflection online, it would help improve their performance.” 
	</p>

	<p>
		There are already some equivalent products on the market, and your marketing department has provided you with a competitive matrix with the features that each product has. At current stage, your company wants to build a MVP (minimal viable product) that covers basic features but could also differentiate itself in this niche market.
	</p>
</div>