#assessmentPageWrapper {
	display: block;
	position: relative;
	width: 100%;
}

.scenario {
	display: inline-block;
	position: relative;
	width: 42.7%;
	padding-left: 4.5%;
	padding-right: 0%;
	padding-bottom: 10%;
	border-right: 1px solid rgba(206, 206, 206, 0.5);
}

app-mcq, app-select-all {
	display: inline-block;
	position: relative;
	vertical-align: top;
	padding-left: 51px;
	width: 45.4%;
	border-left: 1px solid rgba(206, 206, 206, 0.5);
}

app-congratulations {
	display: block;
	position: absolute;
	width: 29.7%;
	min-width: 250px;
	top: 50px;
	margin-left: 31.15%;
}

@media only screen and (max-width: 800px) {
	.scenario, app-mcq, app-select-all {
		width: 100%;
		height: auto;
		box-sizing: border-box;
		max-height: none;
	}
	#assessmentPageWrapper {
		display: flex;
		flex-direction: column;
	}
	app-mcq, app-select-all {
		padding-left: 40px;
		padding-right: 40px;
	}
}