<app-assessment-navbar></app-assessment-navbar>
<div id="assessmentPageWrapper" [style.minHeight]="minimumHeight">
	<div [ngSwitch]="assessment.scenario" class="scenario">
		<app-scenario1 *ngSwitchCase="'0'" ></app-scenario1>
		<app-scenario2 *ngSwitchCase="'1'"></app-scenario2>
		<app-scenario3 *ngSwitchCase="'2'" ></app-scenario3>
		<app-scenario4 *ngSwitchCase="'3'"></app-scenario4>
		<app-scenario5 *ngSwitchCase="'4'" ></app-scenario5>
		<app-scenario6 *ngSwitchCase="'5'"></app-scenario6>
		<app-scenario7 *ngSwitchCase="'6'" ></app-scenario7>
	</div>
	<!-- Show mcq template for mcq questions -->
	<app-mcq *ngIf="assessment.questionGroups[assessment.scenario][assessment.question].type=='mcq'" [question]="assessment.questionGroups[assessment.scenario][assessment.question]"></app-mcq>
	<!-- Show select-all template for select-all questions -->
	<app-select-all *ngIf="assessment.questionGroups[assessment.scenario][assessment.question].type=='select-all'" [question]="assessment.questionGroups[assessment.scenario][assessment.question]"></app-select-all>

	<app-congratulations *ngIf="assessment.done"></app-congratulations>
</div> <!-- End assessmentPageWrapper -->	
<!-- Popup window at end of test -->