<app-assessment-navbar></app-assessment-navbar>
<div id="instructionsWrapper">
	<h1>Directions</h1>
	<p>
		This section measures your critical thinking abilities. You have unlimited time to answer the questions across 7 scenarios.
	</p>
	<p>
		Within this section, you need to click on the <strong>Confirm</strong> button to confirm your answer. You can go to the next question by click <strong>Next.</strong> You <strong>CANNOT</strong> skip questions or return to previous questions.
	</p>
	<p>
		During this practice test, you can click the Timer to reveal or hide the time. You may also click the Pause Test icon at any time. This will stop the test until you decide to continue. You may continue the test in a few minutes, or at any time during the period that your practice is activated.
	</p>
	<p>
		During this practice test, you can click the Timer to hide the time. You may also click the Pause Test icon at any time. This will stop the test until you decide to continue. You may continue the test in a few minutes, or at any time during the period that your practice is activated.
	</p>
	<p>
		You may now begin the section.
	</p>

	<div id="buttonWrapper">
		<a routerLink="/assessment">
			<button>Continue</button>
		</a>
	</div>
</div>
