<div id="scenarioWrapper">
	<h1>Scenario 2 of 7</h1>
	<p id="p1">
		Your team is solving a technical problem. You are considering two possible solutions, while seeking to meet 4 requirements. The table below shows how well each solution satisfies each requirement (higher number = better score).
	</p>

	<!-- Table-->
	<table>
		<!-- Header -->
		<tr>
			<th></th>
			<th>Solution 1</th>
			<th>Solution 2</th>
		</tr>
		<!-- Requirement A -->
		<tr>
			<td class="row1">Requirement A</td>
			<td>3</td>
			<td>2</td>
		</tr>
		<!-- Requirement B -->
		<tr>
			<td class="row1">Requirement B</td>
			<td>2</td>
			<td>1</td>
		</tr>
		<!-- Requirement C -->
		<tr>
			<td class="row1">Requirement C</td>
			<td>3</td>
			<td>4</td>
		</tr>
		<!-- Requirement D -->
		<tr>
			<td class="row1">Requirement D</td>
			<td>4</td>
			<td>5</td>
		</tr>
	</table>
</div>