<div id="researchWrapper">
	<h1>Research</h1>

	<!-- Overview -->
	<div id="overview" class="section">
		<app-research-header txt="overview"></app-research-header>
		<div class="subsection">
			<h2>About our project</h2>
			<p>
				How are non-technical skills currently being assessed in secondary school students? Which non-technical skills are the most important for students who would want to pursue STEM careers in the future? Our methods for unpacking these questions included literature review, expert interviews, stakeholder intervwiews, and competitive analysis, as well as cognitive task analysis with twelfth-graders. This process revealed the multidimensional ways in which critical thinking is used in computer science contexts. Our findings are organized to step through WHY we focused on critical thinking, WHAT critical thinking entails, and HOW critical thinking is used across stakeholder groups.
			</p>
		</div> <!-- End about our project subsection -->

		<div class="subsection">
			<h2>Hunt statement</h2>
			<p>
				We will analyze the alignment of existing nontechnical skills course materials and research on learning science to design robust assessments that empower secondary school students to develop, evaluate, and demonstrate the critical thinking skills required for 21st century careers in data science, AI, CS and cybersecurity.
			</p>
		</div> <!-- End hunt statement subsection -->

		<div class="subsection" id="whyCT">
			<h2>Why Critical Thinking</h2>
			<p>
				Many frameworks describe 21st-century skills, including sources such as Program for International Student Assessment (PISA), Center for Curriculum Redesign (CCR), Assessment and Teaching of 21st Century Skills (ATCS), National Assessment of Educational Progress (NAEP) and many more (Refer to Group 1, Literature Review of Soft Skills in the Appendix). Assessments for 21st-century skills are no longer considered in isolation from content knowledge as seen in the Meta Learning map (Fig. 6) Through synthesizing key takeaways from literature review of non-technical skills broadly, critical thinking surfaced as the skill that was both the most sought out in technical jobs and found lacking in secondary school students. A curated selection of our evidence is as follows:
			</p>
			<ol type="1">
				<li>
					According to Cimmati B., (2016), critical thinking and problem solving skills are skills which are both essential as well as hard to hire. Cimmati also lists critical thinking among the top three skills which are essential for technical jobs.
				</li>
				<li>
					The Gallup study (2018) commissioned by NWEA , examined national perceptions of K-12 assessments among a range of stakeholders, namely administrators, teachers and parents. It was found that:
				</li>
				<!-- Gallup poll sub-points -->
				<ol type="a">
					<li>
						It was important in the opinions of all the stakeholders that critical thinking skills should be well assessed. The other two most important were problem-solving and ability to apply knowledge to real-world situations.
					</li>
					<li>
						42% of the teachers thought that critical thinking was assessed only “somewhat well” in their schools. 
					</li>
				</ol> <!-- End Gallup poll sub-points -->
				<li>
					The Hanover research (2014) examines some of the best practices in assessing soft skills also discusses a 2006 study conducted by the Conference Board in collaboration with the Partnership for 21st Century Schools (P21) that found a 70% of employers rated that critical thinking skills were deficient in high school graduates.

				</li>
				<li>
					Center for Curriculum Redesign report on workforce assessments for the 21st Century (2016), talks about critical thinking among the top three requested skills by major employer surveys. This report also talks about the very little assessment of critical thinking in the US, mainly due to the fact that there is a large difference in scoring among the major and minor (ethnic) groups.
				</li>
			</ol>
		</div> <!-- End Why Critical Thinking subsection-->
	</div> <!-- End overview -->

	<div class="section" id="introduction">
		<app-research-header txt="introduction"></app-research-header>
		<!-- Research Scope -->
		<div class="subsection" id="researchScope">
			<h2>Research scope</h2>
			<p>
				Our ideation was informed by research methods including literature review, interviews, competitive analysis, and affinity diagramming. Our research was guided by three components:
			</p>
			<ol>
				<li>Understanding non-technical skills and employability</li>
				<li>Understanding critical thinking in secondary school</li>
				<li>Understanding critical thinking in computer science related work</li>
			</ol>
			<div class="imgWrap">
				<img id="ecosystem" src="./assets/ecosystem.png">
			</div>
		</div> <!-- End research scope subsection -->

		<!-- Research methods -->
		<div class="subsection">
			<h2>Research methods</h2>
			<p>
				To better understand employees’, recruiters’, students’, and teachers perceptions of critical thinking skills, we conducted theoretical and empirical research.
			</p>
			<div class="imgWrap">
				<div>
					<img src="./assets/research.png">
					<p>Literature review</p>
				</div>
				<div>
					<img src="./assets/presentation.png">
					<p>Competative analysis</p>
				</div>
				<div>
					<img src="./assets/candidate.png">
					<p>User interviews</p>
				</div>
			</div>
		</div> <!-- End Research methods subsection -->

		<!-- Data collection process -->
		<div class="subsection">
			<h2>Data collection process</h2>
			<p>
				After conducting 32 stakeholder interviews, we compared and contrasted the ways in which critical thinking skills are currently used and assessed in the context of computer science careers and secondary school.
			</p>
			<div class="imgWrap">
				<img src="./assets/interview_stats.png">
			</div>
		</div>
	</div> <!-- End introduction section -->

</div>