<div id="certificateWrapper">
	<div id="textCol">
		<div class="row">
			<h2>CritAssess Certificate</h2>
			<p>Completion Date: 08/01/2019</p>
			<p class="line2">3 Sections, 35 Questions</p>
		</div>

		<div class="row">
			<h2>What does it mean to be certified?</h2>
			<p>
				Candidates with CritAssess certification have demonstrated proficiency in critical thinking skills. These individuals have  in the context of assessment items which simulate authentic workplace computer science careers.
			</p>
		</div>

		<div class="row">
			<h2>What is CritAssess?</h2>
			<p>
				CritAssess measures critical thinking skills across 11 knowledge components to target skills necessary for top-performing computer science  employees both during the hiring process and on-the-job. These requirements include planning & prioritization, weighing options, and root cause analysis. CritAssess is grounded in rigorous research including reliability testing, validity testing, cognitive interviews.
			</p>
		</div>
	</div>
	<a href="./assets/certificate_full.png" target="_blank" id="imgCol" >
		<div id="certContents">
			<img src="./assets/certificate.png">
			<div id="certText">
				<div id="certTopText">
					<h1>CERTIFICATE</h1>
					<p>OF ACHIEVEMENT</p>
					<p id="presentedTo">PROUDLY PRESENTED TO</p>
				</div>

				<div id="certBotText">
					<h1>Joe Robles</h1>
					<p class="hideForSmallScreens">For excellence in critical thinking and well-reasoned decision making</p>
				</div>

				<div id="dateAndSignature">
					<div id="date" 	class="dateWrap">
						<p>08/01/2019</p>
						<span>Date</span>
					</div>
					<div id="signature" class="dateWrap">
						<p>Fancy Signature</p>
						<span>Signature</span>
					</div>
				</div>
			</div>
		</div>
	</a>
</div>