<h3>Question {{assessment.question + 1}} of {{assessment.questionGroups[assessment.scenario].length}}</h3>
<p id="prompt">{{question.prompt}}</p>
<span>Click on an circle to elect one answer choice. To choose a different anser, click one different circle.</span>


<div *ngFor="let answer of question.answers; index as i" class="answerChoice">
	<input id="{{i}}" type="checkbox" name="{{question.prompt}}" value="{{answer.text}}" (change)="onSelectionChange(i)" [checked]="answer.selected" [disabled]="assessment.confirmedAnswer">
	<label for="{{i}}">{{answer.text}}</label>
</div>

<div id="buttonRow">
	<button id="confirm" [disabled]="assessment.confirmedAnswer || !answerIsSelected" (click)="submitAnswer()">Confirm</button>
	<button id="continue" [disabled]="!assessment.confirmedAnswer" (click)="nextQuestion()">Continue</button>
	<!-- <button (click)="logScore()">score</button> -->
</div>