<div id="scenarioWrapper">
	<h1>Scenario 5 of 7</h1>

	<p>
		You are the <app-glossary term="product manager" definition="a person who coordinates teams of designers, programmers etc."></app-glossary> of the largest news-sharing platform in your country. There has been a bug in your product since its first release. It’s only when the number of concurrent users on the platform exceeds a certain threshold number will the bug be triggered. Normally, the number of concurrent users is far below the threshold. But it’s unpredictable when ground-breaking news happens, there might be a possibility that a large number of users log in at the same time.  Once the bug is triggered, users may have difficulty logging into their accounts, which is really bad for your company’s reputation.
	</p>

	<p>
		Now there are 2 solutions to fix the bug. You could choose a 100% good solution, which would take your team 2 whole weeks because you need to refractor a lot of code. Or you could choose a 98% good solution, which would only take half a week. However, there is still 2% possibility that the bug be triggered.
	</p>

	<p>
		You also know that your company’s financial performance in the last quarter was not good, gradually losing ground to your competitor. In order to accommodate to the changing needs on the market, your team proposed a new feature to build that could potentially increase the daily time that users spend on your app by 15%, which would be a desirable result. Building the new feature would take your team 1.5 - 2 weeks. 
	</p>
</div>