* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	font-family: 'Roboto';
}

body {
	margin: 0px !important;
/*	position: relative;
	display: block;
	margin-top: -10px;*/
}

*::-webkit-scrollbar-thumb {
	border-radius: 6px;
	background-color: rgba(133, 133, 133, 0.53);
	height: 50px;
	position: relative;
	display: inline-block;
}

*::-webkit-scrollbar {
  width: 10px;
}