<div id="homeWrapper">
	<div id="topRow">
		<div id="leftColumn">
			Heading
			<p>What is Critical thinking? Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
			</p>
			<a routerLink="/test" id="testLink">
				<button>Take the Test</button>
			</a>

		</div>	
		<div id="rightColumn">
			Big Picture
		</div>
	</div>

	<div id="bottomRow">
		<h3>What we offer</h3>
		<div id="offerings">
			<div id="offer1">
				
			</div>
			<div id="offer2">
				
			</div>
			<div id="offer3">
				
			</div>
		</div>
	</div>


	<app-mcq *ngFor="let question of assessment.questions" [question]="question"></app-mcq>

</div>