h3 {
	margin-top: 47px;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 23px;
	letter-spacing: 0.015em;
	margin-bottom: 31px;
}

#prompt {
	margin-bottom: 57px;
	height: 53px;
}

/*Instruction text to 'Click on a circle'*/
span {
	display: block;
	position: relative;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
	color: #858585;
	margin-bottom: 44px;
}

p {
	display: inline-block;
}

.answerChoice {
	display: block;
	position: relative;
	margin-bottom: 14px;
}


/*Custom radio buttons */

/* Hide the original radio */
input[type="radio"] {
    display: none;
}

/* Label positioning */
input[type="radio"] + label {
	display: inline-block;
	position: relative;
	padding-left: 36px;
	line-height: 20px;
	cursor: pointer;
	width: 87.7%;
	vertical-align: middle;
}

/* Draw outer circle (using ::before) */
input[type="radio"] + label::before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 18px;
	height: 18px;
	background-color: #FFF;
	border: 1px solid #6840CC;
	border-radius: 100%;
}

/* Use after to draw the dot inside */
input[type="radio"] + label::after {
	content: '';
	position: absolute;
	top: 4px;
	left: 4px;
	width: 12px;
	height: 12px;
	background-color: #6840CC;
	border-radius: 50%;
	transition: all .2s ease;
}

/* Hide inner dot when unchecked */
input[type="radio"]:not(:checked) + label:after {
	opacity: 0;
	transform: scale(0);
}

/*Show dot when checked*/
input[type="radio"]:checked + label:after {
	opacity: 1;
	transform: scale(1);
}


/*Buttons*/
#buttonRow {
	display: flex;
	position: relative;
	justify-content: center;
	flex-direction: row;
}
button {
	width: 200px;
	height: 51px;
	border-radius: 6px;
	background-color: #6840CC;
	color: #FFF;
	font-style: normal;
	font-weight: bold;
	font-size: 19px;
	line-height: 22px;
	text-align: center;
	letter-spacing: 0.1em;
	cursor: pointer;
}

button:disabled {
	background-color: #C4C4C4;
	cursor: default;
}
#confirm {
	order: 0;
}
#continue {
	order: 1;
	margin-left: 20px;
}