<!-- <h3>{{question.prompt}} Score: {{question.score}}</h3> -->

<h3>{{question.header}}</h3>
<p id="prompt">{{question.prompt}}</p>
<span>Click on an circle to elect one answer choice. To choose a different anser, click one different circle.</span>

<div *ngFor="let answer of question.answers; index as i" class="answerChoice">
	<input id="{{i}}" type="radio" name="{{question.prompt}}" value="{{answer.text}}" (change)="onSelectionChange(answer.text)">
	<label for="{{i}}">{{answer.text}}</label>
</div>

<div id="buttonRow">
	<button id="confirm">Confirm</button>
	<button id="continue" disabled="disabled">Continue</button>
</div>